.top-bar {
	float: left;
	width: 100%;
	padding: 10px 0;

	input {
		float: left;
		height: 24px;
		line-height: 24px;
		width: 70%;
		padding: 0 10px;
	}
	
	select {
		width: 25%;
		float: right;
		height: 24px;
		line-height: 24px;
	}
}